<!DOCTYPE html>
<html>
  <head>
    <title>Tasker</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.12/css/all.css" integrity="sha384-G0fIWCsCzJIMAVNQPfjH08cyYaUtMwjJwqiRKxxE/rx96Uroj1BtIQ6MLJuheaO9" crossorigin="anonymous">
  
    <script type="text/javascript">
        window.hs1 = "<%= image_url('hs1.jpg') %>"
        window.hs2 = "<%= image_url('hs2.png') %>"
        window.hs3 = "<%= image_url('hs3.png') %>"
        window.hs4 = "<%= image_url('hs4.png') %>"
        window.hs5 = "<%= image_url('hs5.png') %>"
        window.hs6 = "<%= image_url('hs6.png') %>"
        window.hs7 = "<%= image_url('hs7.png') %>"
        window.hs8 = "<%= image_url('hs8.png') %>"
        window.hs9 = "<%= image_url('hs9.png') %>"
        window.hs10 = "<%= image_url('hs10.png') %>"
        window.hs11 = "<%= image_url('hs11.png') %>"
        window.hs12 = "<%= image_url('hs12.png') %>"
        window.hs13 = "<%= image_url('hs13.png') %>"
        window.hs14 = "<%= image_url('hs14.png') %>"
        window.hs15 = "<%= image_url('hs15.png') %>"
        window.hs16 = "<%= image_url('hs16.png') %>"
        window.hs17 = "<%= image_url('hs17.png') %>"
        window.hs18 = "<%= image_url('hs18.png') %>"
        window.hs19 = "<%= image_url('hs19.png') %>"
        window.hs20 = "<%= image_url('hs20.png') %>"
        window.hs21 = "<%= image_url('hs21.png') %>"
        window.hs22 = "<%= image_url('hs22.png') %>"
    </script>
  
    </head>

  <body>
    <%= yield %>
  </body>
</html>

  </head>

  <body>
    <%= yield %>
  </body>
</html>
